:root {
    --primary-color: #0E0E0E;
    --secondary-color: #C6E4D6;
    --tertiary-color: #006A50;
    --hover-color: #023327;
    --white-color: #ffffff;
}

/** start common css **/
* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h2 {
    font-size: 40px;
    line-height: 1.3;
}

.font-fira-sans {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-color);
}

body {
    background-color: #F5F5F5;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

button {
    cursor: pointer;
    font-weight: 600;
    transition: all 0.4s ease-in;
}

.btn-primary {
    border: 1px solid var(--tertiary-color);
    background-color: var(--tertiary-color);
    padding: 17px 34px;
    color: var(--white-color);
    font-size: 18px;
    border-radius: 8px;

}

.btn:hover {
    border: 1px solid var(--hover-color);
    background-color: var(--hover-color);
    color: var(--white-color);
}

/** end common css **/

/** start header css **/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

nav h3 {
    font-size: 32px;
}

.btn-sign-in {
    color: var(--tertiary-color);
    background-color: transparent;
    border: 1px solid var(--tertiary-color);
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 18px;
}

.banner-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 80px 60px;
    border-radius: 24px;
    gap: 64px;
    margin-bottom: 80px;
}

.banner-area_content {
    flex: .57;
}

.banner-area img {
    flex: .43;
}

.banner-area_content p {
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, .5);
}

.banner-area_content h1 {
    font-size: 56px;
    line-height: 1.2;
    padding: 16px 0 24px 0;
}

/** end header css **/

/** start pillar of BD section css **/
.pillars-of-bd {
    margin-bottom: 80px;
}

.pillars-of-bd_content {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 32px;
}

.pillars-of-bd_content_item {
    background-color: var(--white-color);
    border-radius: 16px;
    padding: 24px;
}

.pillars-of-bd_content_item h3 {
    font-size: 20px;
    margin: 20px 0 12px 0;
}

/** end pillar of BD section css **/
/** start vision of future section css **/
.vision-of-future>p {
    margin: 24px 0 32px;
}

.vision-of-future_challenges {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.vision-of-future_challenges_item {
    padding: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.vision-of-future_challenges_item:nth-of-type(1) {
    background-color: rgba(84, 144, 245, .2);
}

.vision-of-future_challenges_item:nth-of-type(2) {
    background-color: var(--secondary-color);
}

.vision-of-future_challenges_item:nth-of-type(3) {
    background-color: #f7ebcf;
}

.vision-of-future_challenges_item h3 {
    margin: 24px 0 12px;
    font-size: 20px;
}

.vision-of-future_challenges_item p {
    color: rgba(14, 14, 14, .7);
    margin-bottom: 24px;
}

.vision-of-future_challenges_item button {
    border-radius: 8px;
    color: var(--white-color);
    border: 0;
    padding: 11px 20px;
    margin-top: auto;
}

.vision-of-future_challenges_item:nth-of-type(1) button {
    background-color: #5490F5;
}

.vision-of-future_challenges_item:nth-of-type(2) button {
    background-color: #09A15c;
}

.vision-of-future_challenges_item:nth-of-type(3) button {
    background-color: #ffc239;
}

.vision-of-future blockquote {
    background-color: var(--white-color);
    border-radius: 16px;
    padding: 48px 24px;
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 23px;
}

.vision-of-future blockquote>p {
    color: rgba(14, 14, 14, .8);
}

.vision-of-future blockquote footer h5 {
    font-weight: 600;
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 4px;
}

.vision-of-future blockquote footer p {
    font-size: 16px;
    color: rgba(14, 14, 14, .6);
}

/** end vision of future section css **/

/** start Your Opinion Matters section css **/
.your-opinion-matters {
    padding: 80px 0;
}

.your-opinion-matters h2 {
    margin-bottom: 24px;
}

.your-opinion-matters_content {
    background-color: var(--white-color);
    padding: 32px;
    border-radius: 16px;
}

.your-opinion-matters_content table {
    border-collapse: collapse;
    width: 100%;
}

.your-opinion-matters_content th,
.your-opinion-matters_content td {
    border: 1px solid#c0c0c0;
    padding: 24px;
}

.your-opinion-matters_content th {
    background-color: #c8e6c9;
    font-size: 20px;
    font-weight: 600;
}

.your-opinion-matters_content table th:first-child {
    text-align: left;
}

.your-opinion-matters_content td {
    border: 1px solid #ddd;
}

.your-opinion-matters_content table td:nth-child(2) {
    text-align: center;
}

.your-opinion-matters_content select {
    padding: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    background-color: rgba(9, 161, 92, .15);
    padding: 12.5px 52.5px 12.5px 16.5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('assets/select-arrow.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 10.5px) center;
    font-weight: 600;
}

/** end Your Opinion Matters section css **/

/** start recent news section css **/
.recent-news p {
    margin: 24px 0 32px;
}

.recent-news_article {
    display: flex;
    gap: 32px;
    padding: 48px;
    background-color: var(--white-color);
    border-radius: 24px;
    margin-bottom: 24px;
}

.recent-news_article:last-of-type {
    margin-bottom: 0;
}

.recent-news_article>img {
    border-radius: 24px;
}

.recent-news_article_body h3 {
    font-size: 32px;
    color: rgba(14, 14, 14, .8);
    margin-bottom: 12px;
}

.recent-news_article_body_date-time {
    margin-bottom: 12px;
    color: rgba(14, 14, 14, .7);
}

.recent-news_article_body p {
    color: rgba(14, 14, 14, .7);
}

.recent-news_article_body .btn-primary {
    padding: 13px 26px;
}

/** end recent news section css **/

/** start donate today section css **/
.donate-today {
    padding: 80px 88px;
    text-align: center;
}

.donate-today > p {
    padding: 24px 0 32px;
}

.donation-options {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.donation-button{
padding: 40px;
font-size: 40px;
border-radius: 16px;
background-color: var(--white-color);
border:1px solid rgba(14,   14, 14, .15);
}
.donation-button:hover,.donation-button.active{
border-color: #aac4b8;
background-color: var(--secondary-color);

}
.donate-today input[type="number"]{
    width: 93%;
    border:1px solid rgba(14,   14, 14, .15);
    padding: 20px;
    text-align: center;
    font-size: 20PX;
    margin: 32px 0;
}
.donate-today input[type="number"]::placeholder{
    color: rgba(14, 14, 14, .13);
}
/** end donate today section css **/

/** start subscribe newsletter section css **/
.subscribe-newsletter{
    padding: 80px 265px;
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 24px;
}
.subscribe-newsletter h2{
    margin-bottom: 16px;
}
.subscribe-newsletter p{
    color: rgba(14, 14, 14, .7);
}
.subscribe-newsletter form{
    margin: 24px 0;
    display: flex;
    gap: 0;
    justify-content: center;
}
.subscribe-newsletter form input[type="text"]{
    padding: 18px 40px;
    border: 1px solid rgba(14, 14, 14, .3);
    border-radius: 8px 0 0 8px;
    flex: .8;
}
.subscribe-newsletter form input[type="text"]::placeholder{
    color: rgba(14, 14, 14, .3);
}
.subscribe-newsletter form input[type="submit"]{
    font-size: 18px;
    font-weight: 600;
    color: var(--white-color);
    background-color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
    padding: 17px 34px;
    border-radius: 0 8px 8px 0;
    flex: .2;
    cursor: pointer;
}
/** end subscribe newsletter section css **/